
$blue: #176c9c;

$font-family-sans-serif: Arial, Helvetica Neue, Helvetica, sans-serif;
$font-family-monospace:  Courier New, Courier, Lucida Sans Typewriter, Lucida Typewriter, monospace;

$spacer: 1rem !default;





@import "../node_modules/bootstrap/scss/variables";
