<!-- Used on the HOME page for the Knowledge Base section -->

<h2 class="rubric-title">Test 06 P2 Resources</h2>

<p>browse KB <a href="/kb/categories">By Category</a></p>

<h3 class="rubric-title bg-warning">Recent Additions</h3>
{% assign kb_collections = site.collections | where: "isKB", "true" %}
{% assign all_kb_docs = "" | split: "" %}

{% for collection in kb_collections %}
{% assign all_kb_docs = all_kb_docs | concat: collection.docs %}
{% endfor %}

{% assign sorted = all_kb_docs | sort: 'date_added_kb' | reverse %}

<!-- Remember to adjust kb-latest -->
{% for d in sorted limit: 8 %} 
  {% include articles/article-title.html post=d %}
{% endfor %}
</p>
<p class="text-right">
    {% include kb/kb-latest-button.html %}
</p>


  </div>