{% comment %} >>>>>>>>>>>>>>>>>> Generates a menu Twitter Bootstrap style
Include with :  {% inc components/nav-segment.html navId='main' %}
Pages that have a corresponding "menu: main" in front matter will be included in this menu
Pages are sorted by "weight" front matter variable
>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> {% endcomment %}
{%- assign navbarId = include.navId -%}
{%- assign pages = site.pages | sort: "weight" -%}
{% for p in pages -%}
  {%- if p.menu == navbarId -%}
  {% comment %}we dont want pagination pages in our menu{% endcomment %}
    {%- unless p.url contains 'page' -%}
      <li class="nav-item {% if p.url == page.url %} active{% endif %}">
        <a class="nav-link" href="{{ site.baseurl }}{{ p.url }}">{{ p.title }} {% if p.url == page.url %}<span class="sr-only">(current)</span>{% endif %}</a>
      </li>
    {%- endunless -%}
  {%- endif -%}
{% endfor %}
