{% comment %} ++++ Knowledge base main menu ++++

Get Knowledge Base (kb) collections by selecting ones with default isKB set to true. See _config.yml for kb collections{% endcomment %}

{%- assign kbCollections = site.collections | where: "isKB", "true" -%}

{%- assign categories = site.data.kb_setup.kb_categories -%}

{%- for currentCollection in kbCollections -%}

  {%- assign urlStart = currentCollection.label | append: "/" | prepend: "/kb/" -%}
  {%- assign categoryClass = "" -%}
  {%- if page.url contains urlStart -%}
    {% assign categoryClass = "current" %}
  {% endif %}

<li class="nav-item dropdown">
  <a class="nav-link dropdown-toggle {{ categoryClass }}" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
  {{ currentCollection.name }}
  </a>
  {% comment %}Sort collections articles by category{% endcomment %}
  {%- assign byCategory = currentCollection.docs | group_by: 'category' -%}
  <div class="dropdown-menu" aria-labelledby="navbarDropdown">
    {% comment %}Prints categories in the same order as collection.categories{% endcomment %}
    {%- for cat in categories[currentCollection.label] -%}
      {%- assign currentCat = cat.slug -%}
      {%- assign pageUrl = urlStart | append: currentCat | append: "/" -%}
      {% comment %}Look for docs with a category{% endcomment %}
      {%- assign currentCatDocs = byCategory | where: "name", currentCat | first -%}
      {%- if currentCatDocs != nil -%}
        <a class="dropdown-item {% if page.url == pageUrl %}current{% endif %}" href="{{ site.baseurl }}/kb/{{ currentCollection.label }}/{{ cat.slug }}/">{{ cat.name }}</a>
      {%- endif -%}
  {%- endfor %}
  </div>
</li>

{% endfor %}
