<footer class="border-top">
  <ul class="nav nav-pills justify-content-end">
    {% inc nav/nav-pages.html navId='footer' %}
    <li class="nav-item">
      <a class="nav-link" href="{{ site.baseurl }}/documentation/">documentation</a>
    </li>
  </ul>
</footer>

{% comment %} ### minified versions {% endcomment %}
<script src="{{ site.baseurl }}/node_modules/jquery/dist/jquery.slim.min.js"></script>
<script src="{{ site.baseurl }}/node_modules/jquery.cookie/jquery.cookie.js"></script>
<script src="{{ site.baseurl }}/node_modules/popper.js/dist/umd/popper.min.js"></script>
<script src="{{ site.baseurl }}/node_modules/bootstrap/dist/js/bootstrap.min.js"></script>
<script src="{{ site.baseurl }}/node_modules/algoliasearch/dist/algoliasearch.min.js"></script>
<script src="{{ site.baseurl }}/node_modules/instantsearch.js/dist/instantsearch.min.js"></script>

{% comment %} ### unminified versions
<script src="{{ site.baseurl }}/node_modules/jquery/dist/jquery.slim.js"></script>
<script src="{{ site.baseurl }}/node_modules/jquery.cookie/jquery.cookie.js"></script>
<script src="{{ site.baseurl }}/node_modules/popper.js/dist/umd/popper.js"></script>
<script src="{{ site.baseurl }}/node_modules/bootstrap/dist/js/bootstrap.js"></script>
<script src="{{ site.baseurl }}/node_modules/algoliasearch/dist/algoliasearch.js"></script>
<script src="{{ site.baseurl }}/node_modules/instantsearch.js/dist/instantsearch.js"></script>
{% endcomment %}

<!-- Custom scripts -->
<script src="{{ site.baseurl }}/assets/js/script.js"></script>
