<header role="banner" class="navbar-main">
<nav class="navbar navbar-dark bg-primary navbar-expand-lg">
  <a class="navbar-brand" href="{{ site.baseurl }}/">
    <img src="{{ site.baseurl }}/assets/img/logos/p2_blue_round_180.png" class="d-inline-block align-top" alt="Home page">
    <!-- {{ site.title }} -->
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="">Menu</span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav" role="navigation">
    <ul class="navbar-nav ml-auto">
      {% include nav/nav-pages.html navId='main1' %}
      {% include nav/nav-main-kb-segment.html %}
      {% include nav/nav-main-search.html %}
    </ul>
  </div>
</nav>
</header>
