{% assign currentPost = include.post %}

{% if currentPost.image and currentPost.image != '' %}

  {% assign imgAlt = "" | split: "" %}
  {% if currentPost.image_caption %}
    {% assign imgAlt = imgAlt | push: currentPost.image_caption %}
  {% endif %}
  {% if currentPost.image_source %}
    {% capture source %}(source : {{ currentPost.image_source }}){% endcapture %}
    {% assign imgAlt = imgAlt | push: source %}
  {% endif %}


  <figure class="figure">
    <img
    src="{{ site.baseurl }}{{ currentPost.image }}"
    class="figure-img img-fluid"
    alt="
    {% if imgAlt.size > 0 %}
      {{ imgAlt | join: ' ' }}
    {% else %}
      {{ currentPost.title }}
    {% endif %}
    "
    >
    {% if imgAlt.size > 0 %}
    <figcaption class="figure-caption">
      {{ imgAlt | join: ' ' }}
    </figcaption>
    {% endif %}
  </figure>

{% endif %}
