{% comment %}
Used on kb article page
{% endcomment %}

{% assign currentPost = include.post %}
{% assign author = currentPost.author | default: site.default_author %}

<!-- <article class="article kb-full">

  
    {% include articles/article-type.html post=currentPost %}
    <h2>{{ currentPost.title }}</h2>

  <div class="metadatas">
    kb_article_full
    {% include articles/article-date-ordinal.html post=currentPost %}
    {% include articles/article-date-added-kb.html post=currentPost %}
    {% if currentPost.author %}by <em>{{ currentPost.author }}</em>{% endif %}
    
    <br>
    {{ currentPost.category }}
    <br>
    {% include articles/article-tags.html post=currentPost %}
  </div> -->
  {% include articles/article-image.html post=currentPost %}
  {% include articles/article-video.html post=currentPost %}

  {{ currentPost.content }}

  {% include articles/article-source.html post=currentPost %}
</article>
