{% comment %}
Used on kb article page
{% endcomment %}

{% assign currentPost = include.post %}
{% assign author = currentPost.author | default: site.default_author %}

<article class="article kb-full">

  <h2>
    {% include articles/article-type.html post=currentPost %}
    {{ currentPost.title }}
  </h2>

  <div class="metadatas">
    by <em>{{ author }}</em> on
    {% include articles/article-date-ordinal.html post=currentPost %}
    {% include articles/article-date-added-kb.html post=currentPost %}
    <br>
    Category : {{ currentPost.category }}
    <br>
    {% include articles/article-tags.html post=currentPost %}
  </div>
  {% include articles/article-image.html post=currentPost %}
  {% include articles/article-video.html post=currentPost %}

  {{ currentPost.content }}

</article>
