{% comment %}
Used on post page
{% endcomment %}

{% assign currentPost = include.post %}
{% assign author = currentPost.author | default: site.default_author %}

<article class="article news-full">
  <div class="metadatas">
    <p><time datetime="{{ currentPost.date }}">
      <em>{{ currentPost.date | date_to_string: "ordinal", "US" }}</em>
    </time>
    by <em>{{ author }}</em></p>
    
  </div>

  <h2>Test 08 Posts {{ currentPost.title }}</h2>
  <p>{% if currentPost.tags %}Tags : {{ currentPost.tags | join:', ' }}{% endif %}</p>

  {{ currentPost.content }}

</article>
