<!doctype html>
<html class="no-js" lang="{{ site.language }}">
<head>
{% include head.html %}
</head>
<body>
<a id="skippy" class="sr-only sr-only-focusable" href="#content">
  
     {% include nav.html %}
  
      {% include utils/noscript.md %}
      {% include utils/cookiewarning.md %}
      {% if site.debug_breakpoints == true %}
        {% include debug/breakpoints.html %}
      {% endif %}
      {% include components/search-results-modal.html %}

        {{ content }}

        {% include footer.html %}
        {% include debug/debug.html %}
    </div>
</body>
</html>
