<!doctype html>
<html class="no-js" lang="{{ site.language }}">
<head>
{% include head.html %}
</head>
<body>
  <a id="skippy" class="sr-only sr-only-focusable" href="#content">
  {% include header.html %}
  <div class="container">
  {% include utils/noscript.md %}
  {% include utils/cookiewarning.md %}
  {% include components/search-results.html %}
  {% if site.debug_breakpoints == true %}
    {% include debug/breakpoints.html %}
  {% endif %}
  <div id="content">
    {{ content }}
  </div>
  {% include footer.html %}
  {% include debug/debug.html %}
  </div>
</body>
</html>
