---
layout: default
---
<!-- WORKS on Documentation Pages -->

<div class="jumbotron jumbotron-fluid">
    <div class="container">
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="{{ site.baseurl }}/documentation/">Documentation</a></li>
          <li class="breadcrumb-item active" aria-current="page"><strong>{{ page.title | capitalize }}</strong></li>
        </ol>
      </nav>
      <h1 class="display-5">Documentation {{page.title}}
        {% if page.pagination.enabled == true %}
          - <small>page {{ paginator.page }}/{{ paginator.total_pages }}</small>
        {% endif %}
      </h1>
      <p class="lead">{{ page.lead }}</p>
    </div>
  </div>

  <div class="container">
      <div id="content">
  
        <div class="row">
            <div class="col-md-10 mx-auto">
            {{ content }}
          </div>
        </div>
  
      </div>
    </div>
