---
layout: default
---
<!-- WORKS on KB Collction:Category List Pages -->

{% comment %} Deduce collection and category {% endcomment %}


{%- assign currentCategory = page.autopages.display_name -%}
{%- assign kbCategoriesDatas = site.data.kb_setup.kb_categories -%}
{% assign categoryFound = false %}

{% for collection in kbCategoriesDatas %}
  {% if categoryFound == true %}
    {% break %}
  {% endif %}
  {% assign collectionLabel = collection[0] %}
  {% assign categories = collection[1] %}

  {% for category in categories %}
    {% if category.slug == currentCategory %}
      {% assign categoryDisplay = category.name %}
      {% assign categoryFound = true %}
      {% break %}
    {% endif %}
  {% endfor %}

{% endfor %}

{%- assign kbCollection = site.collections | where: "label", collectionLabel | first -%}

<div class="jumbotron jumbotron-fluid">
  <div class="container">

    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item">
          <a href="{{ site.baseurl }}/kb/{{ kbCollection.label }}">{{ kbCollection.name }}</a>
        </li>
        <li class="breadcrumb-item active" aria-current="page">
          <strong>{{ categoryDisplay }}</strong>
        </li>
      </ol>
    </nav>

    <h1 class="display-5">Test 02 {{ categoryDisplay }}

    </h1>
    <p class="lead">{{ page.lead }}</p>
    
    {% if page.pagination.enabled == true %}
    <p class="paginator">page {{ paginator.page }} of {{ paginator.total_pages }}</p>
    {% endif %}
  </div>
</div>

<div class="container-fluid">
  <div id="content">

    <div class="row">
        <div class="col-md-10 col-lg-8 mx-auto">
        <ul class="list-unstyled">
          {% for post in paginator.posts %}
            <li>
              {% include articles/article-short.html post=post %}
            </li>
          {% endfor %}
        </ul>
      </div>
      <div class="col-md-10 col-lg-8 mx-auto">
        {% include nav/pagination-full.html %}
    </div>
    
  </div>
</div>



