---
layout: default
---
{% comment %} Deduce collection and category {% endcomment %}

{%- assign currentCategory = page.autopages.display_name -%}
{%- assign kbCategoriesDatas = site.data.kb_setup.kb_categories -%}
{% assign categoryFound = false %}

{% for collection in kbCategoriesDatas %}
  {% if categoryFound == true %}
    {% break %}
  {% endif %}
  {% assign collectionLabel = collection[0] %}
  {% assign categories = collection[1] %}

  {% for category in categories %}
    {% if category.slug == currentCategory %}
      {% assign categoryDisplay = category.name %}
      {% assign categoryFound = true %}
      {% break %}
    {% endif %}
  {% endfor %}

{% endfor %}

{%- assign kbCollection = site.collections | where: "label", collectionLabel | first -%}

<div class="home">

  <h1 class="page-heading">AutoPage Collection {{ kbCollection.name }} : Category <b>{{ categoryDisplay }}</b> Page {{page.pagination_info.curr_page}} of {{page.pagination_info.total_pages}}</h1>

  {{ content | markdownify }}

  <ul class="post-list">
    <!--
        Here is the main paginator logic called.
        All calls to site.posts should be replaced by paginator.posts
    -->
    {% for post in paginator.posts %}
      <li>
        <span class="post-meta">{{ post.date | date: "%b %-d, %Y" }}{% if post.book.rank %} | Rank: {{ post.book.rank }}{% endif %}{% if post.collection %} | {{ post.collection }}{% endif %}{% if post.tags %}<br>Tags: {{ post.tags }}{% endif %}</span>
        <h2>
          <a class="post-link" href="{{ post.url | relative_url }}">{{ post.title | escape }}</a>
        </h2>
      </li>
    {% endfor %}
  </ul>

  <!--
    Showing buttons to move to the next and to the previous list of posts (pager buttons).
  -->
  {% if paginator.total_pages > 1 %}
  <ul class="pager">
      {% if paginator.previous_page %}
      <li class="previous">
          <a href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}">&larr; Newer Posts</a>
      </li>
      {% endif %}
      {% if paginator.next_page %}
      <li class="next">
          <a href="{{ paginator.next_page_path | prepend: site.baseurl | replace: '//', '/' }}">Older Posts &rarr;</a>
      </li>
      {% endif %}
  </ul>
  {% endif %}

</div>
