---
layout: default
---
{% comment %} Deduce collection and category {% endcomment %}

{%- assign currentCategory = page.autopages.display_name -%}
{%- assign kbCategoriesDatas = site.data.kb_setup.kb_categories -%}
{% assign categoryFound = false %}

{% for collection in kbCategoriesDatas %}
  {% if categoryFound == true %}
    {% break %}
  {% endif %}
  {% assign collectionLabel = collection[0] %}
  {% assign categories = collection[1] %}

  {% for category in categories %}
    {% if category.slug == currentCategory %}
      {% assign categoryDisplay = category.name %}
      {% assign categoryFound = true %}
      {% break %}
    {% endif %}
  {% endfor %}

{% endfor %}

{%- assign kbCollection = site.collections | where: "label", collectionLabel | first -%}

<div class="row">
  <div class="col">
    <h1 class="rubric-title">P2 Knowledge base</h1>
  </div>
</div>

<div class="row">
  <div class="col">
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item">
          <a href="{{ site.baseurl }}/kb/{{ kbCollection.label }}">Collection : {{ kbCollection.name }}</a>
        </li>
        <li class="breadcrumb-item active" aria-current="page">
          <strong>Category : {{ categoryDisplay }}</strong>
        </li>
      </ol>
    </nav>
  </div>
</div>

<div class="row">
  <div class="col-12">
    <ul class="post-list">
      {% for post in paginator.posts %}
        <li>
{% include articles/article-short.html post=post %}
        </li>
      {% endfor %}
    </ul>
  </div>
  <div class="col-12">
    {% include nav/pagination-full.html %}
  </div>
</div>
