---
layout: default
---
{%- assign currentCollection = site.collections | where:'label', page.collection.label | first -%}
{%- assign currentCategoryDatas = site.kbCategories[currentCollection.label] | where: "slug", page.category | first -%}

<div class="row">
  <div class="col">
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item">Knowledge base</li>
        <li class="breadcrumb-item active" aria-current="page">{{ currentCollection.name }} : {{ currentCategoryDatas.name }}</li>
      </ol>
    </nav>
  </div>
</div>

<div class="row">
  <div class="col">
{% inc components/kb_category_documents.html
  currentCategoryDatas=currentCategoryDatas
  currentCollection=currentCollection
  %}
  </div>
</div>
