---
layout: default
---
<!-- WORKS on KB Single POST (news) Pages -->

<div class="jumbotron jumbotron-fluid">
    <div class="container">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
              <li class="breadcrumb-item"><a href="{{ site.baseurl }}/news/">News</a></li>
              <li class="breadcrumb-item active" aria-current="page"><strong>{{ page.title | capitalize }}</strong></li>
            </ol>
          </nav>
      <h1 class="display-5">Test 04 {{page.title}}
      </h1>
      <p class="lead">{{ page.lead }}</p>
      {% if page.pagination.enabled == true %}
      <p class="paginator">page {{ paginator.page }} of {{ paginator.total_pages }}</p>
      {% endif %}
    </div>
  </div>


  
  <div class="container-fluid">
      <div id="content">
  
        <div class="row">
            <div class="col-lg-8 mx-auto">
              {% include articles/news-article-full.html post=page %}
            </div>
        </div>

        <div class="row">
            <div class="col">
              {% include articles/news_next_previous_pager.html %}
            </div>
        </div>

        <div class="row">            
            <div class="col-lg-8 mx-auto">
              {% include articles/news-latest.html %}
            </div>
        </div>
  
      </div>
  </div>
