<!-- Used on the HOME page for the NEWS section -->

<div class="news-listing">
  <h2 class="rubric-title">Test 07 P2 News</h2>

  {% for post in site.posts limit: 8 %}
  {% include articles/article-short.html post=post %}
  {% endfor %}

  <!-- {% for post in site.posts limit: 6 offset: 1 %}
  {% include articles/article-title.html post=post %}
  {% endfor %} -->

  <p class="text-right">
<a href="{{ site.baseurl }}/news/" class="btn btn-info btn-sm" role="button">More News &#x2192;</a>
</p>
</div>