{% if site.debug_site_vars == true %}
  <p><button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#siteVariables" aria-expanded="false" aria-controls="siteVariables">Site vars</button>
  </p>
  <div class="collapse" id="siteVariables">
    <div class="card card-body">
      {% inc debug/site_vars.html %}
    </div>
  </div>
{% endif %}

{% if site.debug_page_vars == true %}
  <p><button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#pageVariables" aria-expanded="false" aria-controls="pageVariables">Page vars</button>
  </p>
  <div class="collapse" id="pageVariables">
    <div class="card card-body">
      {% inc debug/page_vars.html %}
    </div>
  </div>
{% endif %}
